@import "../../assets/animation.less";
.home{
  width: 100vw;
  min-height: 100vh;
  transition: 1s opacity linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  .banner{
    width: 100%;
    height: 100vh;
    position: relative;
    .attach{
      position: absolute;
      width: 100%;
      height: 8rem;
      top: 23rem;
      display: flex;
      justify-content: center;
      .attach-info{
        width: 34%;
        height: 100%;
        border-radius: 6px;
        background: rgba(58, 58, 58, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .info-title:before{
          content: "“";
          position: absolute;
          font-size: 40px;
          font-weight: 600;
          top: 2px;
          left: 5px;
        }
        .info-title:after{
          content: "”";
          position: absolute;
          font-size: 40px;
          font-weight: 600;
          bottom: 54px;
          right: 16px;
        }
        .info-title{
          font-size: 1.2rem;
          color: white;
          margin: 1rem 0;
          &:hover{
            font-weight: 600;
          }
        }
        ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 97%;
          li:first-child,li:last-child{
            color: darkseagreen;
            animation: none!important;
            font-size: 34px;
          }
          li {
            transition: all ease-in-out .5s;
            position: relative;
            .el-button{
              font-size: 34px;
            }
            &:hover{
              cursor: pointer;
              //transform: rotate(360deg);
              animation: bounce 1s;
            }
            &:hover .code{
              display: block;
            }
            .code{
              position: absolute;
              display: none;
              top: 5.3rem;
              right: -3.5em;
              width: 9rem;
              height: 9rem;
              background: rgba(0, 0, 0, 0.6);
              &:before{
                content: '';
                border: 1rem solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: -32px;
                left: 58px;
              }
              img{
                margin: 0.5rem;
                width: 8rem;
                height: 8rem;
                border-radius: 6px;
                opacity: .6;
              }
            }
          }
        }
        .icon-font{
          width: 34px;
          margin-top: 10px;
        }
      }
    }
  }
  .content{
    width: 54%;
    //height: 1200px;
    position: relative;
    .content-warning{
      cursor: pointer;
      .content-warning-icon{
        margin-left: 15px;
      }
      &:hover .content-warning-icon{
        animation: shake 2s;
      }
    }
    .notify{
      margin-top: 4rem;
      height: 5rem;
      text-align: left;
    }
  }
}
